[Desktop Entry]
Encoding=UTF-8
Name=GuardChain Core
Comment=GuardChain P2P Cryptocurrency
Comment[de]=Verbinde mit dem GuardChain peer-to-peer Netzwerk
Comment[fr]=GuardChain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GuardChain, eşten eşe kriptografik sanal para birimi
Exec=guardchain-qt %u
Terminal=false
Type=Application
Icon=guardchain128
MimeType=x-scheme-handler/guardchain;
Categories=Office;Finance;
